body {
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Roboto Slab', sans-serif;
}
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Center the container */



.header{
    overflow:auto;
    width:100%;
    height:70px;
    margin:0px;
    background-color:black;
    display: flex; 
    justify-content:flex-end;  
    
}

.navigation{
    width:35%;
    display: flex;
    margin-right:20px;
    justify-content: space-between;
    padding-top:20px;
}


.naviglink{
    font-size: 20px;
    font-weight: 300;
    color: #33cccc;
    text-decoration: none;
   
  
}

.sacrament{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:600px;
    margin:0px;
}

.center{
    text-align:center;
}

.eucharist{
    text-align: justify;
    text-align:center;
    text-justify:inter-word;
    font-size: 24px;
    
}



.sacred-box{
    width: 100%;
    height:1500px;
    margin:0px;
   
    
}

.img-size{
    margin-left: auto;
    margin-right: auto;
    max-height:150px; 
    max-width:100px;
}

.padding-top{
    padding-top:10px;
}

.img-small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:90px; 
    max-width:100px;
}

.row1{
    display:flex;
}
