body {
    color: #000;
    line-height: 1.4;
    font-family: 'Roboto Slab', sans-serif;
}
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Center the container */



.header{
    overflow:auto;
    width:100%;
    height:70px;
    margin:0px;
    background-color:black;
    display: flex; 
    align-items:center;
    justify-content:flex-end;  
    
}

.navigation{
    display:flex-end;
    margin-right:15px;
    justify-content: space-between;
    padding-top:20px;
}


.naviglink{
    font-size: 20px;
    font-weight: 300;
    color: #33cccc;
    text-decoration: none;
   
  
}

.sacrament{
    overflow:auto;
    margin:0px;
    width: 100%;
    height:400px;
    
}

/* .bgd-style{
    background-size:cover;
    background-repeat: no-repeat;
} */

.titlefont{
    font-family: 'Abril Fatface', cursive;
    color: black;
}

.center{
    text-align:center;
    margin:auto;
}

.eucharist .video{
    width:30%;
    margin: auto;
    font-size: 32px;
    font-weight:300;
    
}



.sacred-vessels{
    width: 100%;
    height:850px;
    margin:0px;
      
}

.sacred-margin{
    margin-bottom:50px;
    text-align: center;
}

.img-size{
    margin-left: auto;
    margin-right: auto;
    max-height:150px; 
    max-width:100px;
}

.padding-top{
    padding-top:10px;
}

.img-small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:90px; 
    max-width:100px;
}

.img-large{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:300px; 
    max-width:100px;
}




.row1 {
    display:flex;
    height:250px;
    width: 100%;
}

.row2 {
    display:flex;
    height:250px;
    width: 100%;
}

.row3 {
    display:flex;
    height:250px;
    width: 100%;
}

.row4 {
    display:flex;
    height:250px;
    width: 100%;
}

.row5 {
    display:flex;
    height:250px;
    width: 100%;
}

.cib-box{
    height:250px;
    width:25%;
}

.cib{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:8px;
    max-height:100px; 
    max-width:200px;
}
.cib-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width:25%;
  
    text-align: justify;
}

.pat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:100px; 
    max-width:200px;
}

.pat-box{
    height:250px;
    width:25%;
}

.pat-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width:25%;
    /* max-height:200px; 
    max-width:300px; */
    text-align: justify;
}

.cru-box{
    height:250px;
    width:25%;
}

.cruets{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:110px; 
    max-width:130px;
}

.cha-box{
    height:250px;
    width:25%;
}

.cha{
    display: block;
    margin-left: auto;
    margin-right: 50px;
    margin-top:8px;
    max-height:100px; 
    max-width:200px;
}

.lav-box{
    height:250px;
    width:25%;
}

.lav{
    display: block;
    margin: auto;
   
    max-height:100px; 
    max-width:200px;
}

.lav-text{
    display: block;
    max-height:100px;
    max-width:300px;
    text-align: justify;
}


.sacred-lin-box{
    width: 100%;
    height:1200px;
    margin:0px;
      
}

.corp-box{
    height:300px;
    width:30%;
}


.corp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:300px; 
    max-width:200px;
}

.corp-text{
    display:block;
    height:200px;
    width:35%;
    text-align: justify;
}

.pall{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:200px; 
    max-width:100px;
}

.pall-box{
    height:200px;
    width:25%;
}

.pall-text{
    display:block;
    height:200px;
    width:25%;
    text-align: justify;
}

.fin-box{
    height:300px;
    width:30%;
}

.finger{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:200px; 
    max-width:100px;
}

.fin-text{
    display:block;
    height:200px;
    width:25%;
    text-align: justify;
}


.pure-box{
    height:300px;
    width:30%;
}

.puri{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    max-height:200px; 
    max-width:100px;
}

.puri-text{
    display:block;
    height:200px;
    width:25%;
    text-align: justify;
}

/* p.text-animate{
    font:white;
    transition-duration: 2s;
    transition-timing-function: linear; 
} */

/* p:hover{
   
    color:black;
} */
